  <div>    
    <h2><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>
    
    Location<p>

    Latitude - <%= @user.latitude %><p>
    Longitude - <%= @user.longitude %><p>
    <%= (image_tag(@user.facebook_photo) || current_user.avatar ) if current_user.avatar? || @user.facebook_photo? %>
    

    <p><small>Member since <%= @user.created_at %></small></p>
    <h3>About Me</h3>
      <%= @user.description %>
    <h3><small>Fun Fact</small></h3>
      <%= @user.fun_fact %>
    <h3><small>Top Fitness Goal</small></h3>
      <%= @user.fitness_goal %>
    <p>
      
      <%= link_to "Edit Profile", edit_profile_path, class: 'btn btn-primary btn-large' %>
    </p>
  </div>

  People near me
  <% nearby_users = @user.nearbys(30) || [] %>
  <% nearby_users.each do |user| %>
    <li><%= user.first_name %></li>
  <% end %>